@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Warsztat Samochodowy</h1>
    <div>
        <img src="@Url.Content("~/Photos/Icon1.png")" alt="Mój obrazek" />
    </div>
    
</div>
